header {
	background-color: #f0e2e7;
}

header h1 {
	font-family: 'Courier New', Courier, monospace;
}

body {
	background: #4f5d75;
}

body footer{
	background-color: #b0ff92;
}

main div div img {
	width: 200px;
	height: 200px;
}