body, header, h1, h2, h5, ul, div, section, p{
    margin: 0;
    padding: 0;
}

header {
	background-color: #f0e2e7;
	align-content: center;
}

header  a, nav a {
	text-decoration: none;
	color:black;
}

header h1 a {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	line-height: 1.2;
	font-weight: 500;
	font-size: 64px;
	cursor: pointer;
	display: inline-block;
}

nav p{
	display: inline-block;
}

body {
	background: #4f5d75;
	display: flex;
	flex-direction: column;
}

html, body {

	height: 100%;
}

main {
	flex:1;
}

body footer{
	background-color: #b0ff92;
}

main > section {
	background-color: #82aeb1;
	margin-top: 30px;
	width: 96% !important;
	padding: 2% !important;
}

main > section:last-child {
	margin-bottom: 30px;
}

main > section > div {
	padding: 10px 0;
}

main > section > div > h2 {
	color: white;
}

main > section > div > div > div > div:first-child {
	height: 150px; 
	width: 150px;
}